<div class="uc-modal">
    <div class="uc-m-contents">
        <div class="uc-m-header">
            <h4 *ngIf="item.length>0; else infoText">Items Added to Cart</h4>
           <ng-template #infoText><h4>Please Add Products to Cart</h4></ng-template>
            
        </div>
        <div class="uc-m-body" *ngIf="item.length>0">
            <table >
                <tr>
                    <th>S/N</th>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Amount</th>
                </tr>
                <tr *ngFor="let product of item index as i">
                    <td>{{i+1}}</td>
                    <td >{{product.name}}</td>
                    <td >{{product.qty}}</td>
                    <td>{{product.price | currency}}</td>
                    <td>{{product.amount | currency}}</td>
                    <td><button (click)="decreaseQty(product,btn)"disabled #btn>-</button></td>
                    <td><button (click)="increaseQty(product,btn)">+</button></td>
                </tr>
            </table>
            <td>Total Amount Purchased: {{totalAmount | currency}}
        </div>
        <div class="uc-m-footer">
            <button (click)="reloadProducts()">Back To Shop</button>
            <button (click)="loadPayment()" routerLink="/payment" *ngIf="item.length>0">Proceed to Payment</button>
        </div>
    </div>
</div>